<div>
    Button presses: {{ amount }}
</div>
<div>
    General:
    <button (click)="helloWorld()">Hello World</button> &bull;
    <button (click)="setTimeout()">Set Timeout</button> &bull;
    <button (click)="countOnce()">Count Once</button> &bull;
    <button (click)="intervalTimer()">Interval Timer</button> &bull;
    <button (click)="fetch()">Fetch</button>
    <br/><br/>Looping:
    <button (click)="ofSubscription()">Of Subscription</button> &bull;
    <button (click)="range()">Range</button> &bull;
    <button (click)="from()">From</button> &bull;
    <button (click)="ofPipe()">Of Pipe</button> &bull;
    <button (click)="ofFilter()">Of Filter</button> &bull;
    <button (click)="reducer()">Reducer</button> &bull;
    <button (click)="scan()">Scan</button> &bull;
    <button (click)="take()" id="take">Take</button>
    <br/><br/>
    <button (click)="takeWhile()">Take While</button> &bull;
    <button (click)="takeUntil()">Take Until</button> &bull;
    <button (click)="distinctUntilChanged()">Distinct Until Changed</button>
    <br/><br/>Event:
    <span *ngIf="displayCount">
        <button (click)="keyCount()">Key Count</button> &bull;
    </span>
    <span *ngIf="displayMouse">
        <button (click)="mouseClickEvent()">Mouse Event</button> &bull;
    </span>
    <span *ngIf="displayKeys">
        <button (click)="keyCodes()">Key Codes</button> &bull;
    </span>
    <span *ngIf="displayKeys">
        <button (click)="scrollBar()">Scroll Bar</button> &bull;
    </span>
    <button (click)="restartEvents()">Restart Events</button>
    <div *ngIf="displayText">
        <br *ngFor="let i of [].constructor(100)"/>
    </div>
    <br/><br/>
    <button (click)="countdown()">Countdown</button> {{ theCountdown }}
    <button id="abort">Abort Mission</button>
    <hr>
    <input id="timeText">
    <br/><br/>Rate Limiting:
    <button (click)="debounceTime()">{{ subscribed ? 'Unsubscribe' : 'Debounce Time'}}</button> &bull;
    <button (click)="throttleTime()">{{ subscribed ? 'Unsubscribe' : 'Throttle Time'}}</button> &bull;
    <button (click)="sampleTime()">{{ subscribed ? 'Unsubscribe' : 'Sample Time'}}</button> &bull;
    <button (click)="sample()">{{ subscribed ? 'Unsubscribe' : 'Sample'}}</button> &bull;
    <button (click)="auditTime()">{{ subscribed ? 'Unsubscribe' : 'Audit Time'}}</button>
    <br/><br/>Transformation:
    <button (click)="ajax()" title="Get and return JSON api request responses">
        {{ subscribed ? 'Unsubscribe' : 'Ajax'}}</button> &bull;
    <button (click)="mergeMap()" title="Start on each run">
        {{ subscribed ? 'Unsubscribe' : 'Merge Map'}}</button> &bull;
    <button (click)="switchMap()"
            title="Restart on each run">
        {{ subscribed ? 'Unsubscribe' : 'Switch Map'}}</button> &bull;
    <button (click)="concatMap()"
        title="Queue onto the end of each run">
    {{ subscribed ? 'Unsubscribe' : 'Concat Map'}}</button> &bull;
    <button (click)="exhaustMap()"
        title="Complete current run, then allow a new one to start">
    {{ subscribed ? 'Unsubscribe' : 'Exhaust Map'}}</button>
    <br/><br/>
    <div id="typeahead"></div>
    Dog Polling:
    <button (click)="dogSub()" title="Start dog subscription" id="dogSub">
        {{ subscribed ? 'Unsub' : 'Dog Sub'}}</button>
    <button (click)="dogStart()" title="Start and stop dog polling" id="dogStart">Start Polling</button>
    <button (click)="dogStop()" title="Start and stop dog polling" id="dogStop">Stop Polling</button>
    Polling: {{ polling }}
    <br/><br/>
    <img id="dog" alt="dog" style="height: 190px"
        src="https://random.dog/967eae80-8f34-490b-944c-4f6bd4697712.jpeg"/>
    <video id="dogVid" alt="dog" style="height: 190px"
        src="https://random.dog/c494d883-9a34-4d8d-b0b3-449069c30f23.mp4" autoplay loop>
        <track label="English" kind="subtitles">
    </video>
</div>
