<p>passenger-form works!</p>
<form #form="ngForm" novalidate>
    {{ detail | json }}
    <div>
        Passenger name:
        <input
            type="text"
            name="fullName"
            [ngModel]="detail?.fullName">
    </div>
    <div>
        Passenger ID:
        <input
            type="number"
            name="id"
            [ngModel]="detail?.id">
    </div>
    <div>
        <label>
            <input
                type="radio"
                [value]="true"
                name="checkedIn"
                [ngModel]="detail?.checkedIn"
                (ngModelChange)="toggleCheckIn($event)">
            Yes
        </label>
        <label>
            <input
                type="radio"
                [value]="false"
                name="checkedIn"
                [ngModel]="detail?.checkedIn">
            No
        </label>
        <label>
            <input
                type="checkbox"
                name="checkedIn"
                [ngModel]="detail?.checkedIn"
                (ngModelChange)="toggleCheckIn($event)">
        </label>
        Toggle check in date
    </div>
    <div *ngIf="form.value.checkedIn">
        Check in date:
        <input
            type="number"
            name="checkInDate"
            [ngModel]="detail?.checkedInDate">
    </div>

    <div>
        Luggage:
        <select
            name="baggage"
            [ngModel]="detail?.baggage">
            <option
                *ngFor="let item of baggage"
                [value]="item.key"
                [selected]="item.key === detail?.baggage">
                {{ item.value }}
            </option>
        </select>
        <select
            name="baggage"
            [ngModel]="detail?.baggage">
            <option
                *ngFor="let item of baggage"
                [ngValue]="item.key">
                {{ item.value }}
            </option>
        </select>
    </div>
    {{ form.value | json }}
</form>

